table {
  
  border-collapse: collapse;
  width: 100%;
}
.blackb{
  background-color: grey;
}
.mtop3{
  margin-top: 50px;
  margin-bottom: 50px;
}
.head{
  background-color: black;
  border:4px solid white;
  /*border-radius: 50%;*/
  border-radius: 25px;
}
.head:hover{
  background-color: #ef4526;
  box-shadow: 0 0 3px white, 0 0 5px white;
  
}
.button{
  background-color: silver;
  color:black;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  /*width:25%;*/
  font-style: bold;
}
.textright{
  text-align:right;
}
.noBorders{
  border-style: none;
}

.center{
  text-align: center;
}
.whiteb{
  background-color: white;
}
.underline{
  border-bottom: 5px solid;
  border-color: #ef4526;
}
.backorange{
  background-color:#ef4526; 
}
.orange{
  color:#ef4526;
}
.pad10{
  padding-top:10px;
}
.white{
  color:white;
  text-shadow: 0 0 3px black, 0 0 5px black;
}
.whitebutton{
  color:white;
}
.la{
  text-align: left;
}
.navpad{
  padding-top: 70px;
}
.pad40{
  padding-top: 95px;
  padding-bottom:95px;
}
.pad40i{
  
}
.pd35{
  padding-top: 35px;
  padding-bottom: 35px;
}

.textwrap1{
  background-color:blue;
  padding:10px;
  
}
.text40{
  font-size: 40px;
}
.malignc{
 
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.mtop2{
  margin-top: 20px;
}

.element {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index:1;
}
.small_screen_pad{
  
}
.element1 {
  position:fixed;
  bottom: 0;
  right: 40px;
  z-index:1;
}


.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin-left: 40px;
      margin-top:16px;
      margin-bottom: 16px;
      color: #ef4526;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.9);
}

nav ul {
      line-height: 40px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}


.text_size60{
  font-size: 60px;
}

@media(max-width: 800px) {

  nav ul li {
      padding: 16px 0px;;
}
.logo{
  margin-left:0;
}
.pad40i{
  margin-top:10px;
  padding-bottom: 10px;
  
}
.small_screen_pad{
  padding-bottom: 30px;
}
      
 .text_size60{
        font-size: 40px;
      }
      

}

.logo img{
  height: 50px; width:60px; background: none; border-style: none;padding-top: 0; margin-bottom: 15px;
}
/*check*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}